<table>
  <form action="/create_actor">
    <tr><td>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Name">
    </td></tr>
    <tr><td>
      <label for="bio">Bio</label>
      <input type=text id="bio" name="bio" placeholder="Bio">
    </td></tr>
    <tr><td>
      <label for="dob">Date Of Birth</label>
      <input type="text" id="dob" name="dob" placeholder="Date of Birth">
    </td></tr>
    <tr><td>
      <label for="url">Image URL</label>
      <input type="text" id="url" name="url" placeholder="Image URL">
    </td></tr>
    <tr><td>
      <input type="submit" value="Create Actor">
    </td></tr>
  </form>
</table>
