<table>
  <form action="/create_movie">
    <tr><td>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" placeholder="Title">
    </td></tr>
    <tr><td>
      <label for="year">Year</label>
      <input type=text id="year" name="year" placeholder="Year">
    </td></tr>
    <tr><td>
      <label for="duration">Duration</label>
      <input type="text" id="duration" name="duration" placeholder="Duration">
    </td></tr>
    <tr><td>
      <label for="description">Description</label>
      <input type="text" id="description" name="description" placeholder="Description">
    </td></tr>
    <tr><td>
      <label for="url">Image URL</label>
      <input type="text" id="url" name="url" placeholder="Image URL">
    </td></tr>
    <tr><td>
      <input type="submit" value="Create Movie">
    </td></tr>
  </form>
</table>
